---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1200px;
}

section {
  width: 850px;
}

@media print, screen and (max-width: 960px) {
  .wrapper {
    width: auto;
    margin: 0;
  }

  section {
    width: auto;
    float: none;
    position: static;
  }
}
